
<div class="row">
  <div class="col">
    <h3>These are the activities for this week</h3>
    <h4>The calendar will update when you water a plant to the right</h4>
      <%= render "layouts/water_calendar", :object => @plants %>
  </div>
  <div class="col">
    <%= render "layouts/water_check", :object => @plants %>
  </div>
</div>