
<div class="row">
  <div class="col">
    <h3>These are the activities for this week</h3>
    <h4>The calendar will update when you water a plant to the right</h4>
      <%= render "layouts/water_calendar", :object => @plants %>
  </div>
  <div class="col">
    <%= render "layouts/water_check", :object => @plants %>
    <br>
    <h4>Here are your watering instructions</h4>
    <ul>
      <li>Trees need a gallon of water when watering</li>
      <li>Herbs and houseplants need a 2 cups of water when watering</li>
      <li>Succulents need a 1 tbsp of water when watering</li>
      <li>Fruits and Vegetables need to be watered until the soil retains some moisture</li>
    <ul>
  </div>
</div>