<div class="container" id="home-container">
  <h1>OK Bloomer</h1>
  <h1>Keeping your plants healthy and hip.</h1>
  <br>
  <br>
  <h3> About OK Bloomer </h3>
  <p>We at OK Bloomer believe plants can do better and you can do better for your plants. We're here to use our decades of experience in maintaining healthy plants to help you learn when to water, fertilize, and repot your plants. </p>
  <p> We use social accountability and plant health tracking to keep you on track. Sign up today or reach out to our team with questions!</p>
  <br>
  <h3>Services We Provide</h3>
  <ul>
    <li>Water updates for your plants</li>
    <li>Health tracking for your plants</li>
    <li>A one stop location for all your plants! no limit to how many plants we'll track for you</li>
    <li>Aggressive social media accountability</li>
    <li>Authentication for your account, don't let crooks lie about the plants you're watering</li>
  </ul>
</div>