<div class="banner">
  <h1> OK Bloomer: Plant Advice to Keep You Young</h1>
</div>
<div class="container" id="home-container">
<div class="row">
  <div class="col">
    <h3> About OK Bloomer </h3>
    <p>We at OK Bloomer believe plants can do better and you can do better for your plants. We're here to use our decades of experience in maintaining healthy plants to help you learn when to water, fertilize, and repot your plants. We also host a forum to get advice from other Bloomers.</p>
    <br>
    <h3>Services We Provide</h3>
    <ul>
      <li>Water updates for your plants</li>
      <li>Health tracking for your plants</li>
      <li>A one stop location for all your plants! no limit to how many plants we'll track for you</li>
      <li>Aggressive social media accountability</li>
      <li>Authentication for your account, don't let crooks lie about the plants you're watering</li>
    </ul>
  </div>

<%#
    <div class="col">
      <h2> Check out a sample layout </h2>
      <div class="retro-container">
        <%= render "layouts/sample_index", :object => @plants %>
<%#      </div>
    </div>
  </div>
</div>
%>

  <div class="col" id="scroll-parent">
    <div class= "overflow-auto" id="scrollbar">
      <div class="card" style="width: 20rem;" id="scroll-child">
        <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-126019331-612x612-1604943453.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="Card image cap">
        <h3 class="card-body">"Pansies and Violas"</h3>
      </div>
      <div class="card" style="width: 20rem;" id="scroll-child">
        <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-white-flowering-plants-royalty-free-image-1055141998-1564083752.jpg?crop=0.447xw:1.00xh;0.0397xw,0&resize=980:*" alt="Card image cap">
        <h3 class="card-body">"Snowdrops"</h3>
      </div>
      <div class="card" style="width: 20rem;" id="scroll-child">
        <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-122947915-1536781139.jpg?crop=0.9998361998361999xw:1xh;center,top&resize=980:*" alt="Card image cap">
        <h3 class="card-body">"Winter Jasmine"</h3>
      </div>
      <div class="card" style="width: 20rem;" id="scroll-child">
        <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1063833594-612x612-1604944463.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="Card image cap">
        <h3 class="card-body">"Hellebores"</h3>
      </div>
    </div>
  </div>
</div>
<%#
  <div class="col-sm-3">
    <div class="card m-1">
      <div class="card-body">
        <h5 class="card-title">Radishes</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Climate:</li>
        <li class="list-group-item">Instructions:</li>
      </ul>
    </div>
  </div>
</div> %>

<%# 
radishes, carrots, onions, Swiss chard, English peas and kale %>