<div class="banner">
  <h1> OK Bloomer: Plant Advice to Keep You Young</h1>
</div>
<div class="container" id="home-container">
<div class="row">
  <div class="col">
    <h3> About OK Bloomer </h3>
    <p>We at OK Bloomer believe plants can do better and you can do better for your plants. We're here to use our decades of experience in maintaining healthy plants to help you learn when to water, fertilize, and repot your plants. We also host a forum to get advice from other Bloomers.</p>
    <br>
    <h3>Services We Provide</h3>
    <ul>
      <li>Water updates for your plants</li>
      <li>Health tracking for your plants</li>
      <li>A one stop location for all your plants! no limit to how many plants we'll track for you</li>
      <li>Aggressive social media accountability</li>
      <li>Authentication for your account, don't let crooks lie about the plants you're watering</li>
    </ul>
  </div>
