/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= @import "bootstrap-sprockets";
 */

@import "bootstrap";
@import "simple_calendar";

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

body {
  background: #ebdbb5;
  background-size:cover;
  background-repeat:no-repeat;
  background-position-y: bottom;
  font-family: 'Besley', serif;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  position:relative;
  overflow:auto;
}
.banner {
  background: #de9f7e;
  width:100%;
  height: 20vh;
  margin: 7px auto;
  position: relative;
  margin-top: 0;
  padding-bottom: 10px;
}

.calendar_heading {
  align-content: center;
}

.card {
  box-shadow: 0 0 5px 0;
}

.card-body {
  background: #716931;
  color: #fff;
  border-radius: 3px;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  max-width: 37vh;
  max-height: 30vh;
}

.col-4 {
  text-align: center;
  img {
    min-height: 100%;
  }
}

.col-8 {
  text-align: right;
}

content {
  flex: 1 0 auto;
}

footer {
  border-top: solid #716931 .25rem;
  margin-top: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  align-items: center;
  display: block;
  flex-shrink: 0;
}

#home-container {
  display: table;
  margin-top: 10%;
  margin-bottom: 12%;
  max-height: 90vh;
}
#home-container > h3 {
  text-align: center;
}
#home-container > h1 {
  text-align: center;
}

#home-container > p {
  padding-left: 15vh;
  padding-right: 15vh;
}

#home-container > ul {
  padding-left: 20vh;
}

#home-container > ul > li {
  display: list-item;
  list-style-type: circle;
}

img {
  max-width: 50%
}

nav {
  width: 100%;
  height: 50px;
  line-height: 10px;
}

nav ul {
  float: left;
  margin-right: 30px;
}

.nav-link {
  margin-left: auto;
}
.nav-link a {
  color: #e8e2d4;
}

#plant_graph {
  text-align: center;
  width: 80%;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid black;
  padding: 1em;
}

#plant_profile {
  padding: 1em;
}


#plant_health {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.retro-container {
  border-style: solid 2px black;
}

#scrollbar{
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  vertical-align: top;
}

.table > thead {
  background: aquamarine;
}

table > tbody .past {
  background:pink;
}

table > tbody .future {
  background:rgb(147, 182, 220);
}

table > tbody .today {
  background:rgb(114, 221, 97) !important;
}

#water-card button, [type="button"], [type="reset"], [type="submit"] {
  background: #e9d1c5;
}

.form-control{
  height: 75px;
  margin-top: 15px;
  width: 350px;
  margin-left: 25px;
}
#signup_form{
  overflow: hidden;
  height: 1000px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://images.unsplash.com/photo-1552409905-46aa1e84e2e8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: left;
  border-radius: 5px;
}

#login_form{
  overflow: hidden;
  height: 1000px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/yellow-flower-on-white-background-alan-bailey.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
#password_form{
  overflow: hidden;
  height: 1000px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStW9w8mwnd1mePCsbPnUSTSlBkIZfUo628673wBKxw0A_7LhrRzbV1ZiPz0l6LN3xmqac&usqp=CAU");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
#confirmation_form{
  overflow: hidden;
  height: 1000px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://images.unsplash.com/photo-1585232350675-7c1ffea3f5ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: right;
  border-radius: 5px;
}

#formOne{
  padding-top: 10px;
  padding-bottom: 10px;
}

#signup_button{
  margin-top: 35px;
  height: 75px;
  width: 350px;
}

#paginate {
  align-items: right;
}

:root {
  --home-bg-color: #E8E2D4;
  --menu-bg-color: #cbcbc2;
  --silde-btn-border: #808080;
  --slide-btn-bg: #ddf2db;
  --slide-btn-hoverbg: #f1fff1;
  --alpha-green: rgba(33, 96, 47, 0.51);
  --icon-hover-color: #5E5635;
  --icon-hover-bg: #5E5635;
  --text-color: #616161;
  --border-color: #709680;
  --heading-color: #344a39;
  --box-shadow-color: #b5b5ac;
  --lightest-green: #DDC1B5;
  --light-green: #DDC1B5;
  --dark-green: #A7AA7A;
  --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
  --border-radius: 60px 5px;
  --fade-green: rgba(57, 87, 64, 0.55);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#ham-menu {
  display: none;
}
label[for="ham-menu"] {
  display: block;
  position: fixed;
  top: 24px;
  left: 20px;
  z-index: 999;
  width: 60px;
  height: 60px;
  background-color: var(--home-bg-color);
  border-radius: 15px;
  border: 2px solid var(--border-color);
}
.ham-menu {
  width: 50vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  background-color: var(--lightest-green);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-menu > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 20px;
  height: 50%;
}
.ham-menu > ul > li {
  font-size: 5vh;
  white-space: nowrap;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: rgb(97, 97, 97);
}
#ham-menu:checked + label {
  background-color: transparent;
  border-color: var(--dark-green);
}
#ham-menu:checked ~ div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}
.full-page-green {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green);
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 500ms;
  position: fixed;
  top: 0;
  left: 0;
}
#ham-menu:checked ~ div.full-page-green {
  display: block;
  opacity: 1;
  visibility: visible;
}
[for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--border-color);
  transition: 500ms;
  transform-origin: right center;
}
[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}
#ham-menu:checked + label span {
  background-color: var(--dark-green);
}
#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
  transform: scale(0);
}
#ham-menu:checked + label span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}
#ham-menu:checked + label span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
}
.ham-menu > p {
  display: inline;
  font-size: 1.8rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
}
.ham-menu > a {
  font-size: 1.6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
  display: inline;
  font-weight: bold;
  padding: 7px;
  color: var(--icon-hover-bg);
}

.ham-menu > ul > li > a {
  color: var(--icon-hover-bg);
}

.ham-menu > a::after {
  content: "\e806";
  display: inline-block;
  font-family: fontello;
  padding: 5px;
  font-size: 1.6rem;
  transform: rotate(-90deg);
}
.ham-menu > .text {
  font-size: 2.5rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
}
.ham-menu > .title {
  font-size: 3rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
  color: var(--icon-hover-bg);
  padding: 10px;
}
.ham-menu > .heading {
  font-size: 6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Patua One";
}
.ham-menu > .centre-text {
  text-align: center;
}
.ham-menu > .bold-text {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  div.card-title {
    font-size: 15px;
  }
}