/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= @import "bootstrap-sprockets";
 */

@import "bootstrap";
@import "simple_calendar";
 // @import "font-awesome-sprockets";
 // @import "font-awesome";

 a  {
   color: rgba(86, 128, 192, 0.815);
 }
 a:hover {
  color: rgba(201, 144, 58, 0.76);
  }
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

body {
  background: #ebdbb5;
  background-size:cover;
  background-repeat:no-repeat;
  background-position-y: bottom;
  font-family: 'Besley', serif;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  position:relative;
  overflow:auto;
}
.banner {
  background: #de9f7e;
  width:100%;
  height: 20vh;
  margin: 7px auto;
  position: relative;
  margin-top: 0;
  padding-bottom: 10px;
}

.calendar_heading {
  align-content: center;
}

.card {
  box-shadow: 0 0 5px 0;
  margin-bottom: 10px;
}

.card-body {
  background: #709680;
  color: #fff;
  border-radius: 3px;
  a:link {
    color: #fff;
  }
  a:hover {
    color: rgba(255, 255, 255, 0.253);
  }
  a:visited {
    color: rgba(255, 255, 255, 0.603);
  }
}

.card-winners > .card-body{
  background: #DDC1B5;
  color: black;
}

.card-winners > ul >li:nth-child(even){background-color: #edbfa6;}

.card-winners > ul > li:nth-child(odd){background-color: #88c6a1;}

.card-img-top {
  width: 100%;
  object-fit: cover;
  max-width: 37vh;
  max-height: 30vh;
}

.col-4 {
  text-align: center;
}
.user_pic {
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.col-8 {
  text-align: right;
}

content {
  flex: 1 0 auto;
}
#flash_alerts {
  margin-left: 10%;
}
footer {
  border-top: solid #716931 .25rem;
  margin-top: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  align-items: center;
  display: block;
  flex-shrink: 0;
}
#home-container {
  display: table;
  margin-top: 5%;
  margin-bottom: 12%;
  max-height: 90vh;
}
#home-container > h3 {
  text-align: center;
}
#home-container > h1 {
  text-align: center;
}

#home-container > p {
  padding-left: 15vh;
  padding-right: 15vh;
}

#home-container > ul {
  padding-left: 20vh;
}

#home-container > ul > li {
  display: list-item;
  list-style-type: circle;
}

#home-table-row {
  padding-left: 10vw;
  padding-right: 10vw;
}

#inbox {
  min-height: 100%;
  background-color: #a1ceb3;
}

nav {
  width: 100%;
  height: 50px;
  line-height: 10px;
}

nav ul {
  float: left;
  margin-right: 30px;
  box-shadow: 0 0 5px 0;
  border-radius: 3px;
  margin-top: 10px;
}

.nav-link {
  margin-left: auto;
}
.nav-link a {
  color: #e8e2d4;
}

#plant_graph {
  text-align: center;
  width: 80%;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid black;
  padding: 1em;
}

#plant_profile {
  padding: 1em;
}


#plant_health {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

#profile_page {
  margin-left: 5%;
  margin-top: 5%;
  background-color: #95a19a;
  img {
    border: solid black 2px;
    border-radius: 5px;
  }
  .col-8 {
    text-align: left;
  }
}

#profile_pic {
  width:100%;
  padding: 20%;
}

.retro-container {
  border-style: solid 2px black;
}

#scrollbar{
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  vertical-align: top;
}
.sidebar_icon {
width: 80%;
padding: 20%;
}
#profile_pic_column {
  background-color: blanchedalmond;
}

.table > thead {
  background: #de9f7e;
}

table > tbody .past {
  background:#5e7131;
}

table > tbody .future {
  background:#709680;
}

table > tbody .today {
  background:#DDC1B5 !important;
}

.table-home {
border-collapse: collapse;
max-width: 35vw;
box-shadow: 0 0 5px 0;
}

.table-home td, .table-home th {
border: 1px solid #344a39;
padding: 8px;
}
.table-home th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #DDC1B5;
color: black;
}

.table-home h4 {
  text-align: center;
}

.table-home tr:nth-child(even){background-color: #edbfa6;}

.table-home tr:nth-child(odd){background-color: #88c6a1;}

.table-home tr:hover {background-color: #DDC1B5;}

#user_profile_sidebar{
  background-color: #edbfa6;
  min-height:100%;
  margin: 0;
  }

#new_message_picture {
  min-height: 100%;
  display:block;
  overflow: hidden;
}

#new_message_link {
  // background-color: rgb(186, 245, 242);
  background-color: #a1ceb3;
  padding-top: 20%;
  padding-bottom: 20%;
}

#user_profile_garden {
  background-color: rgba(186, 245, 242, 0.597);
}
#user_profile_page {
  background-color: #a1ceb3a6;
}
.user_pic {
  img {
    min-width: 100%;
    overflow: hidden;
  }
}

#water-card button, [type="button"], [type="reset"], [type="submit"] {
  background: #e9d1c5;
}

#water-heading {
  text-align: center;
}

.form-control{
  height: 75px;
  margin-top: 15px;
  width: 350px;
  margin-left: 25px;
}
#signup_form{
  overflow: hidden;
  height: 1000px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://images.unsplash.com/photo-1552409905-46aa1e84e2e8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: left;
  border-radius: 5px;
}

#login_form{
  overflow: hidden;
  height: 1000px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/yellow-flower-on-white-background-alan-bailey.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
#password_form{
  overflow: hidden;
  height: 1000px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStW9w8mwnd1mePCsbPnUSTSlBkIZfUo628673wBKxw0A_7LhrRzbV1ZiPz0l6LN3xmqac&usqp=CAU");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
#confirmation_form{
  overflow: hidden;
  height: 1000px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://images.unsplash.com/photo-1585232350675-7c1ffea3f5ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: right;
  border-radius: 5px;
}

#formOne{
  padding-top: 10px;
  padding-bottom: 10px;
}

#signup_button{
  margin-top: 35px;
  height: 75px;
  width: 350px;
}
.p-winners{
// text-align: center;
}
#paginate {
  align-items: right;
}

:root {
  --home-bg-color: #eeebe5;
  --menu-bg-color: #cbcbc2;
  --silde-btn-border: #808080;
  --slide-btn-bg: #ddf2db;
  --slide-btn-hoverbg: #f1fff1;
  --alpha-green: rgba(33, 96, 47, 0.51);
  --icon-hover-color: #5E5635;
  --icon-hover-bg: #5E5635;
  --text-color: #616161;
  --border-color: #709680;
  --heading-color: #344a39;
  --box-shadow-color: #b5b5ac;
  --lightest-green: #DDC1B5;
  --light-green: #DDC1B5;
  --dark-green: #A7AA7A;
  --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
  --border-radius: 60px 5px;
  --fade-green: rgba(57, 87, 64, 0.55);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#ham-menu {
  display: none;
}
label[for="ham-menu"] {
  display: block;
  position: fixed;
  top: 24px;
  left: 20px;
  z-index: 999;
  width: 60px;
  height: 60px;
  background-color: var(--home-bg-color);
  border-radius: 15px;
  border: 2px solid var(--border-color);
}
.ham-menu {
  width: 50vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  background-color: var(--lightest-green);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-menu > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 20px;
  height: 50%;
}
.ham-menu > ul > li {
  font-size: 5vh;
  white-space: nowrap;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: rgb(97, 97, 97);
}
#ham-menu:checked + label {
  background-color: transparent;
  border-color: var(--dark-green);
}
#ham-menu:checked ~ div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}
.full-page-green {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green);
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 500ms;
  position: fixed;
  top: 0;
  left: 0;
}
#ham-menu:checked ~ div.full-page-green {
  display: block;
  opacity: 1;
  visibility: visible;
}
[for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--border-color);
  transition: 500ms;
  transform-origin: right center;
}
[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}
#ham-menu:checked + label span {
  background-color: var(--dark-green);
}
#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
  transform: scale(0);
}
#ham-menu:checked + label span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}
#ham-menu:checked + label span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}
#ham-menu:checked + label span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
}
.ham-menu > p {
  display: inline;
  font-size: 1.8rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
}
.ham-menu > a {
  font-size: 1.6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
  display: inline;
  font-weight: bold;
  padding: 7px;
  color: var(--icon-hover-bg);
}

.ham-menu > ul > li > a {
  color: var(--icon-hover-bg);
}

.ham-menu > a::after {
  content: "\e806";
  display: inline-block;
  font-family: fontello;
  padding: 5px;
  font-size: 1.6rem;
  transform: rotate(-90deg);
}
.ham-menu > .text {
  font-size: 2.5rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
}
.ham-menu > .title {
  font-size: 3rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
  color: var(--icon-hover-bg);
  padding: 10px;
}
.ham-menu > .heading {
  font-size: 6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Patua One";
}
.ham-menu > .centre-text {
  text-align: center;
}
.ham-menu > .bold-text {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  div.card-title {
    font-size: 15px;
  }
}

 #profile_sidebar{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcVYr5hZ5Ca-5700qLGTYP_s1R1AipA8KudQ&usqp=CAU");
   background-repeat: repeat-x;
   background-position: bottom;
   border-radius: 5px;
   background-color: white;
   min-height:100%;
   box-shadow: 0 0 5px 0;
   margin-top: 15px;
 }
 
 #plant_row{
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcVYr5hZ5Ca-5700qLGTYP_s1R1AipA8KudQ&usqp=CAU");
   background-repeat: repeat-x;
   background-position: bottom;
   border-radius: 5px;
   background-color: white;
   height:115vh;
   box-shadow: 0 0 5px 0;
   margin-left: 20px;
  //  min-height: 100%;
 }
 
 #weather_row{
  border-radius: 5px;
  background-color: white;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
  box-shadow: 0 0 5px 0;
 }

 #profile_pic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid whitesmoke;
  display: inline-block;
  box-shadow: 0 0 5px 0;
}

#profile_card {
  width: 100%;
  height: 100%;
}
#profile_row{
  background-color: #e9d1c5;
  padding-bottom: 10%;
}

.col-container{
  max-height: 150vh;
}

.col-md-9{
  min-height: 100%;
}

#connect_with {
  margin: 2em;
}

.friends {
  text-decoration: underline;
  text-align: center;
  width: 100%;

}

#friend-column {
  display: inline-flex;
  overflow-x: scroll;
}

.friend-card {
  flex: 0 1 calc(25% - 1em);
  height: auto;
  margin-left: 20px;
  max-width: 20%;
}

.profile-body {
  background-color: rgb(219, 200, 204);
  color: black;
}

.card-header {
  text-align: center;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

#f-select{
  height: 75px;
  margin-top: 15px;
  width: 350px;
  margin-left: 25px;
}

#plant_form{
  overflow: hidden;
  min-height: 100%;
  width: 600px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://img.freepik.com/free-vector/tropical-background-with-different-leaves_52683-36517.jpg?size=626&ext=jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: right;
  border-radius: 5px;
  margin-top: 25%;
  margin-bottom: 25%;
  
}

#edit_plant_form{
  overflow: hidden;
  min-height: 100%;
  width: 600px;
  background-color: white;
  box-shadow: 0 0 5px 0;
  background-image: url("https://i.pinimg.com/originals/96/1b/79/961b79cdbb09f7637005e7d57d5b55e6.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: right;
  border-radius: 5px;
  margin-top: 25%;
  margin-bottom: 25%;
  
}


 