<p> These are the plants you need to water today </p>
<p> Click the box when done </p>

<% @plants.each do |plant| %>
  <% if Time.now > plant.water_time%>
    <%= form_with url: "/plants/#{plant.id}/water_update", method: :post do |f| %>
    <%= f.hidden_field :plant_id, value: plant.id %>
    <%= f.submit "#{plant.name}", :plant_id => "%#{plant.id}" %>
    <% end %>
  <% end %>
<% end %>